h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bagel Fat One", cursive;
}
p {
  font-family: "Indie Flower", cursive;
}
form {
  text-align: center;
}
.col {
  margin: 0 auto;
  width: 50%;
}
.assistant {
  font-family: "Assistant", sans-serif;
}
.container1 {
  background: #228d57;
  border-radius: 30px;
  width: 70%;
  margin: 0 auto;
  padding: 30px;
}
.container2 {
  background-color: #85bb65;
  padding: 30px;
  border-radius: 30px;
  width: 90%;
  margin: 0 auto;
}
#city-name {
  text-align: center;
  font-size: 500%;
}
#city-temp {
  font-size: 950%;
  margin: 0;
  text-align: center;
}
#temp-desc {
  text-align: center;
  font-size: 170%;
  margin: 20px;
}
#temp-guage {
  margin: 20px;
  left: 90%;
}
#mr-frog {
  width: 50%;
  margin: 20px;
  display: block;
  margin: 0 auto;
}
.btnGroupParent {
  text-align: center;
  padding: 20px;
}
