body {
  background-color: #228d57;
}
h1,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-family: "Bagel Fat One", cursive;
  color: #e8e9c9;
}
h1 {
  font-size: 60px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0px;
  align-items: center;
  margin: -20px;
}

.temperature {
  font-size: 200%;
  font-family: "Assistant", sans-serif;
}

.mainSection {
  background-color: #85bb65;
  padding: 40px;
  width: 600px;
  margin: 0 auto;
  box-shadow: 16px 19px 20px 9px rgba(14, 43, 37, 0.3);
  border: 8px dashed #09522e;
  border-radius: 19px;
}
.fAndC {
  font-size: 20px;
}
p {
  text-align: center;
  font-family: "Indie Flower", cursive;
}

#forecast {
  text-align: center;
  font-family: "Assistant", sans-serif;
}
.input-group {
  width: 280px;
  margin: 10px;
}
.btn {
  color: #e8e9c9;
  border: solid black;
  background-color: #000000;
  transition: 200ms ease-in-out;
}
.form-control {
  background-color: #e8e9c9;
}
.btn:hover {
  background-color: #09522e;
  border: solid #09522e;
}
h2 {
  text-align: center;
  font-family: Indie Flower, cursive;
}
.btn-dark {
  position: absolute;
  top: 10px;
  right: 10px;
}
.fwog {
  width: 50%;
  display: block;
  margin: 0 auto;
}
button {
  border: none;
  background-color: #85bb65;
}
